:root {
  /* Primary Colors */
  --clr--very-dark-blue: hsl(243, 87%, 12%);
  --clr--desaturated-blue: hsl(238, 22%, 44%);
  --clr--white: hsl(0, 0%, 100%);

  /* Accent Colors */
  --clr--bright-blue: hsl(224, 93%, 58%);
  --clr--moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral */
  --clr--grayish-blue: hsl(224, 93%, 58%);
  --clr--gray: hsl(170, 45%, 43%);
}
