:root {
  /* Font Family */
  --ff--primary: "Open Sans", sans-serif;
  --ff--secondary: "Raleway", sans-serif;

  /* Font Size */
  --fs--regular: 16px;

  /* Font Weight */
  --fw--bold: 400;
  --fw--very-bold: 700;
}
