:root {
  /* Font Family */

  /* #### Body */
  --ff--primary: "Open Sans", sans-serif;

  /* #### Headings, Call-to-actions, Header Navigation*/
  --ff--secondary: "Raleway", sans-serif;

  /* Font Size */
  --fs--regular: 16px;

  /* Font Weight */
  --fw--bold: 400;
  --fw--very-bold: 700;
}
