.container {
  display: grid;
  place-items: center;

  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  h1,
  h2,
  button,
  input,
  nav {
    font-family: var(--ff--secondary);
  }
}
