.fylo__main {
  display: grid;

  &_header,
  &_body,
  &_footer {
    display: grid;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .fylo__main_form {
    width: 100%;
    max-width: 540px;

    form {
      display: grid;
      justify-items: center;
      gap: 1rem;

      input,
      button {
        text-decoration: none;
        width: 100%;
        padding: 0.8rem;
        border-radius: 0.3rem;
      }

      input {
        border: 1px solid var(--clr--very-dark-blue);
      }
      button {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }

      .btn-get-started {
        border: none;
        background-color: var(--clr--bright-blue);
        color: var(--clr--white);
        font-weight: var(--fw--very-bold);
      }
    }
  }
  &_header {
    nav {
      padding: 1rem 0;
      display: flex;

      justify-content: space-between;
      align-items: center;
      img {
        cursor: pointer;
        width: 90px;
        height: 30px;
      }

      ul {
        display: flex;
        justify-content: space-between;
        width: 55%;
        li {
          cursor: pointer;
          font-size: 1rem;
          a {
            color: var(--clr--very-dark-blue);
            text-decoration: none;
          }
        }
      }
    }
    &_content {
      padding: 1rem;
      display: grid;
      text-align: center;
      justify-items: center;
      gap: 1rem;

      h1 {
        font-size: 1.5rem;
        font-weight: var(--fw--very-bold);
      }

      p {
        font-size: 1.1rem;
      }

      &_info {
        display: grid;
        justify-items: center;
      }
    }
  }

  &_body {
    display: grid;
    gap: 2rem;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    &_top {
      padding-inline: 2rem;
      &_info {
        display: grid;
        gap: 1rem;
        a {
          font-size: 0.9rem;
          margin-right: auto;
          color: var(--clr--moderate-cyan);
          text-decoration: none;
          line-height: 1rem;
          border-bottom: 1px solid var(--clr--moderate-cyan);
          &:hover {
            opacity: 0.7;
          }
          img {
            display: inline;
            vertical-align: middle;
          }
        }
        .ceo-testimonial {
          img {
            margin-bottom: 1rem;
          }
          text-align: left;
          padding: 1rem;
          font-size: 0.9rem;
          .ceo-profile {
            margin: 1rem 0;
            display: flex;
            gap: 1rem;
            font-size: 0.7rem;
            align-items: center;
            img {
              margin-bottom: 0;
              display: inline;
              width: 35px;
              height: 35px;
              border-radius: 35px;
            }
          }
        }
      }
    }
    &_bottom {
      display: grid;
      justify-items: center;
      gap: 1rem;
      text-align: center;
      color: var(--clr--white);
      padding: 3rem;
      background-color: var(--clr--desaturated-blue);

      div {
        display: grid;
        gap: 1rem;
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 0.94rem;
        }
      }

      .fylo__main_form {
        form {
          font-size: 0.9rem;

          input,
          button {
            padding: 0.7rem 0.9rem;
          }
        }
      }
    }
  }
  &_footer {
    padding: 2rem;
    background-color: var(--clr--very-dark-blue);
    color: var(--clr--white);
    display: grid;
    gap: 2rem;
    margin: 0;

    ul {
      li {
        cursor: pointer;
      }
    }

    &_top {
      img {
        margin-bottom: 1.5rem;
      }
      p {
        display: flex;
        align-items: center;
        img {
          margin: 0;
          display: inline;
          margin-right: 1rem;
        }
      }
      p:nth-of-type(1) {
        margin-bottom: 0.8rem;
      }
    }

    &_middle,
    &_bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      a {
        text-decoration: none;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: var(--clr--white);
          height: 38px;
          width: 38px;
          border-radius: 38px;
          border: 1px solid var(--clr--white);
        }
      }
    }
  }

  @media only screen and (min-width: 985px) {
    width: 100%;
    display: grid;
    justify-items: center;

    &_header {
      max-width: 1200px;
      margin-bottom: 10rem;
      nav {
        ul {
          justify-content: flex-end;
          gap: 2.5rem;
        }
        img {
          cursor: pointer;
          width: 135px;
          height: 45px;
        }
      }
      &_content {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;

        h1 {
          font-size: 2rem;
        }
        &_info,
        img {
          width: 50%;
        }
        &_info {
          display: grid;
          gap: 1rem;
          align-self: center;

          .fylo__main_form {
            form {
              display: flex;
              input {
                width: 60%;
              }
              button {
                width: 40%;
              }
            }
          }
        }
      }
    }

    &_body {
      display: grid;
      justify-items: center;
      width: 100%;

      &_top {
        max-width: 1200px;
        text-align: left;
        &_info {
          display: flex;
          flex-direction: row-reverse;

          h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          div:nth-of-type(2) {
            display: grid;
            gap: 0.8rem;
          }

          .ceo-testimonial {
            width: 70%;
            margin-top: 1rem;
          }
        }
      }
      &_bottom {
        display: flex;
        justify-content: center;
        text-align: left;
        width: 100%;
        padding: 5rem;

        div {
          max-width: 600px;
        }

        div:nth-of-type(1) {
          h2 {
            font-size: 2rem;
          }
          p {
            width: 70%;
          }
        }

        .fylo__main_form {
          form {
            justify-items: left;
            font-size: 0.9rem;

            input,
            button {
              padding: 0.7rem 0.9rem;
            }
            button {
              width: 45%;
            }
          }
        }
      }
    }

    &_footer {
      width: 100%;
    }
  }
}
